<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Change Password</h1>
      <button class="button button-clear" ng-click="closeChangePasswordModal()"><i class="icon ion-ios-close-empty"></i></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Old Password</span>
		    <input type="password" placeholder="old password">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">New Password</span>
		    <input type="password" placeholder="new password">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Retype New Password</span>
		    <input type="password" placeholder="new password">
		  </label>
		  <button class="button button-block button-assertive">Update password</button>
		</div>
    </ion-content>
  </ion-modal-view>