<ion-view view-title="My Favourites">
  <ion-content>
	    <ion-list>
	    	<ion-item class="item item-thumbnail-left">
	    		<img src="img/f-dish.jpg">
	    		<span class="item-note rating rating-2">2.0</span>
	    		<h2>Restaurent Name</h2>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere inventore totam iusto natus, fuga! Ullam, iusto vel! Veritatis aut vitae, explicabo fugiat dolore quos ducimus eligendi, inventore provident reprehenderit, illo.</p>
	    		<p>20d ago</p>
	    	</ion-item>
	    </ion-list>
	</div>
  </ion-content>
</ion-view>
