<ion-view view-title="Order History">
  <ion-content>
    <ion-list>
    	<ion-item href="#/app/viewhistory" class="item item-icon-right">
    		<p class="item-note">2m ago</p>
    		<h2>Briyani, Lunch order and more</h2>
    		<span class="rating rating-2">PROCESSING</span>
    		<i class="icon ion-ios-arrow-right"></i>
    	</ion-item>
    	<ion-item class="item item-icon-right">
    		<p class="item-note">2m ago</p>
    		<h2>Briyani, Lunch order and more</h2>
    		<span class="rating rating-5">DELIVERED</span>
    		<i class="icon ion-ios-arrow-right"></i>
    	</ion-item>
    	<ion-item class="item item-icon-right">
    		<p class="item-note">2m ago</p>
    		<h2>Briyani, Lunch order and more</h2>
    		<span class="rating rating-1">CANCELED</span>
    		<i class="icon ion-ios-arrow-right"></i>
    	</ion-item>
    	<ion-item class="item item-icon-right">
    		<p class="item-note">2m ago</p>
    		<h2>Briyani, Lunch order and more</h2>
    		<span class="rating rating-5">DELIVERED</span>
    		<i class="icon ion-ios-arrow-right"></i>
    	</ion-item>
    	
    </ion-list>
  </ion-content>
</ion-view>
