<ion-content scroll="false" style="text-align:center">
    <div style="height:190px;background:url('img/ccuWater.jpg')center center;"></div>
    <!-- <img src="img/logo-res.png"/> -->
    <h2 style="font-weight:200">BeEats your eats ！</h2>
    <div style="width:300px;margin:10% auto;">
        <a href="#/app/home" class="button button-block" style="background:#3b5998;color:#fff"><i class="icon ion-social-facebook"></i>&nbsp;&nbsp;&nbsp; Login with Facebook</a>
        <a href="#/app/home" class="button button-block" style="background:#dc4e41;color:#fff"><i class="icon ion-social-googleplus"></i>&nbsp;&nbsp; Login with Google+</a>
        <a href="#/emaillogin" class="button button-block" style="background:#3B9792;color:#fff"><i class="icon ion-ios-email"></i> &nbsp;&nbsp;&nbsp; Login with Email</a>
        <a href="#" class="button button-clear button-small" style="color:#3B9792">Take The Tour</a>
    </div>
</ion-content>
<ion-footer-bar style="height:60px;background:url('img/f-trend.jpg');">
</ion-footer-bar>