<ion-view view-title="Manage Address">
    <ion-nav-buttons side="right">
          <button class="button" ng-click="openModal()">
            <i class="icon ion-ios-plus-outline"></i>
          </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item>
                <h2>Address Full</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, illo necessitatibus excepturi. Temporibus iste facere velit placeat, facilis quis est vel, magni nisi? Reiciendis, voluptatum illo beatae ut maxime iusto.</p>
            </ion-item>
            <ion-item>
                <h2>Address Full</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, illo necessitatibus excepturi. Temporibus iste facere velit placeat, facilis quis est vel, magni nisi? Reiciendis, voluptatum illo beatae ut maxime iusto.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>