<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Terms &amp; Conditions</h1>
      <button class="button button-clear" ng-click="closeTermsModal()"><i class="icon ion-ios-close-empty"></i></button>
    </ion-header-bar>
    <ion-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempora debitis dolores consectetur blanditiis culpa neque atque, ab temporibus dolorum velit id molestias officiis quia explicabo vel delectus iusto quibusdam.
    </ion-content>
  </ion-modal-view>