<ion-view view-title="View History">
  <ion-content class="padding" style="text-align:center">
        <table>
            <tbody>
                <thead style="background:#333;">
                    <th>ID</th>
                    <th>STATUS</th>
                    <th>PAYMENY MODE</th>
                </thead>
                <tbody>
                    <td>123</td>
                    <td>DELIVERED</td>
                    <td>Creditcard</td>
                </tbody>
            </tbody>
        </table><br><br>
        <table>
            <thead style="background:#333;">
                <th>S.No</th>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Biriyani</td>
                    <td>4</td>
                    <td>100</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Biriyani</td>
                    <td>4</td>
                    <td>100</td>
                    <td>400</td>
                </tr>
            </tbody>
        </table>
        <h3>&#8377; 800</h3>
  </ion-content>
</ion-view>
